In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from tqdm import tqdm
tqdm.pandas(desc="my bar!")

In [ ]:
################ where ####################


csv_data = pd.DataFrame({"a":[1,4],"b":[2.0,5.1],"string":["ﾎｹﾞ","ﾋｹﾞ"]})

def hoge(data):
    if data[0]+data[1]>5:
        return 1
    else:
        return 0


csv_data["c"]= csv_data[["a","b"]].apply(hoge,axis=1)

In [ ]:
df = pd.read_csv('sample.csv')
df = df.set_index('time')
df_with_cnd = df.where(df < 0)
df_with_cnd = df.where(df < 0,100)

df.where(df < 0,100,inplace = True)

In [ ]:
df = pd.read_csv('input/sample1.csv')
df = df.set_index('time')
print(df)
print("^^^^^^^^^^^^")
ite = df.iteritems()
for elem in ite:
    print(elem)

In [ ]:
################ loc ####################

df = pd.read_csv('input/sample1.csv')
df = df.set_index('time')
df.loc[['2016-10-17 00:00:01','2016-10-17 00:00:03'],["1","2"]]
df.loc['2016-10-17 00:00:01':'2016-10-17 00:00:03',"1":"4"]

In [ ]:


df = pd.read_csv('input/sample2.csv')
df = df.set_index('time')
df.loc[['2016-10-17 00:00:01','2016-10-17 00:00:03'],["1","2"]]
df.drop_duplicates(inplace=True)
df.loc['2016-10-17 00:00:01':'2016-10-17 00:00:03 ','1':'e']

In [ ]:
################ add ####################

df = pd.read_csv('input/sample1.csv')
df = df.set_index('time')
df.ix[0,0]

In [ ]:
df = pd.DataFrame(np.arange(0,30).reshape(6,5),index = list("ASDFGH"), columns = list("abcde"))

In [ ]:
s1 = pd.Series(range(6), index=list("abcdef"))
s2 = pd.Series([10,20,30,40,50], index=list("asdfg"))


s1.add(s2,fill_value=0)

In [ ]:
df1 = pd.DataFrame(np.arange(0,30).reshape((6,5)), index=list("ASDFGH"), columns=list("abcde"))
df2 = pd.DataFrame(np.arange(0,42).reshape((7,6)), index=list("ASDFGHJ"), columns=list("abcdef"))
df1

In [ ]:
df2

In [ ]:
df1+df2

In [ ]:
############### add fill_value を入れると０で保管して計算する　#####################
df1.add(df2,fill_value=0)

In [ ]:
s = pd.Series(range(10), index=[list("aaabbbccdd"),[1,2,3,2,1,3,1,2,1,2]])

In [ ]:
s[:,1]

In [ ]:
##############　スワップ　######################
s.swaplevel(0,1)

In [ ]:
s.unstack()

In [ ]:
df.stack()

In [ ]:
################ rename ####################
df.rename(index={"A":"a","S":"s"},columns={"a":"A","b":"B"})

In [ ]:
################ 離散化 ####################
df = pd.DataFrame([[20,"F"],[22,"M"],[25,"M"],[27,"M"],[21,"F"],[23,"M"],[37,"F"],[31,"M"],[61,"F"],[45,"M"],[41,"F"],[32,"M"]], columns=["age", "sex"])
bins = [18,25,35,60,100]
group_names = ["youth","young_adult","middle_age","senior"]
df["bins"] = pd.cut(df["age"],bins,labels=group_names)

In [ ]:
df

In [ ]:
df.set_index("bins")

In [ ]:
df.sort_values(list(df.columns.values)).set_index(["bins","sex"])

In [ ]:
################ takeによるサンプリング　####################
df = pd.DataFrame([[20,"F"],[22,"M"],[25,"M"],[27,"M"],[21,"F"],[23,"M"],[37,"F"],[31,"M"],[61,"F"],[45,"M"],[41,"F"],[32,"M"]], columns=["age", "sex"])

sampler =   np.random.permutation(len(df))
sampler

In [ ]:
df.take(sampler[:5])

In [ ]:
################ group_by ####################

df.groupby("bins").get_group("youth")

In [ ]:
df.groupby("bins").groups

In [ ]:
df.groupby("bins").mean()

In [ ]:
df.groupby("bins").max()

In [ ]:
df.groupby("bins").min()

In [ ]:
df.groupby("bins").count()

In [ ]:
df.groupby("bins").describe()

In [ ]:
df.groupby("bins").size()

In [ ]:
df.groupby("bins").max()

In [ ]:
df.groupby("bins").min()

In [ ]:
################ groupby agg 集約　####################

def diff(group):
    return group.max()-group.min()

def count(group):
    return group.count()

df.groupby("bins")["age"].agg([diff,count])

In [ ]:
df["age2"] =df["age"]*2
df.groupby("bins").agg({"age":np.mean,"age2":np.sum})

In [ ]:
################ groupby transform　　####################

def zscore(x):
    zscore = (x-x.mean())/x.std()
    return zscore

df.groupby("bins").transform(lambda x: zscore(x))

In [ ]:
df.groupby("bins")["age"].apply(lambda x:np.max(x)-np.min(x))

In [ ]:
################ groupby filter　　####################
df.take(df.groupby("bins")["age"].filter(lambda x:np.max(x)-np.min(x)==5).index)

In [ ]:
################ groupby agg　　####################
df  = sns.load_dataset("iris")
df.groupby("species").agg([np.max,np.min])

In [ ]:
################ str split extend list　####################

s_org = pd.Series(['aaa@xxx.com', 'bbb@yyy.com', 'ccc@zzz.com', 'ddd'], index=['A', 'B', 'C', 'D'])
print(s_org)
print(type(s_org))

In [ ]:
s_org.str.split("@")

In [ ]:
s_org.str.split("@",expand=True).stack()

In [ ]:
################ Qiita pandasによる高速化　####################
import pandas as pd
from sklearn.datasets import fetch_california_housing

fetched_data = fetch_california_housing()
california_housing = pd.DataFrame(
    data=fetched_data['data'],
    columns=fetched_data['feature_names']
)
california_housing.head(5)
LOWER_SPLIT = 22.0
UPPER_SPLIT = 35.0

AGE_LABEL_YOUNG = 'young'
AGE_LABEL_MIDDLE = 'middle'
AGE_LABEL_OLD = 'old'

In [ ]:
def method1(data):
    _data = data.copy()
    _data.loc[:, 'HouseAgeClass'] = None
    for i in range(len(_data)):
        house_age = _data.iloc[i, :]['HouseAge']
        if house_age < LOWER_SPLIT: 
            _data.iloc[i, -1] = AGE_LABEL_YOUNG
        elif LOWER_SPLIT <= house_age < UPPER_SPLIT:
            _data.iloc[i, -1] = AGE_LABEL_MIDDLE
        else:
            _data.iloc[i, -1] = AGE_LABEL_OLD
    return _data

In [ ]:
method1(california_housing).head()

In [ ]:
def method2(data):
    _data = data.copy()    # 元データに影響を与えないようにする
    _data.loc[(_data.HouseAge < LOWER_SPLIT), 'HouseAgeClass'] = AGE_LABEL_YOUNG
    _data.loc[(_data.HouseAge >= LOWER_SPLIT) & (_data.HouseAge < UPPER_SPLIT), 'HouseAgeClass'] = AGE_LABEL_MIDDLE
    _data.loc[(_data.HouseAge >= UPPER_SPLIT), 'HouseAgeClass'] = AGE_LABEL_OLD
    return _data

In [ ]:
method2(california_housing).head()

In [ ]:
def method3(data):
    def create_house_age_class(age):
        if age < LOWER_SPLIT:
            return AGE_LABEL_YOUNG
        elif (LOWER_SPLIT <= age) and (age < UPPER_SPLIT):
            return AGE_LABEL_MIDDLE
        else:
            return AGE_LABEL_OLD

    _data = data.copy()
    _data.loc[:, 'HousingAgeClass'] = _data.HouseAge.map(create_house_age_class)
    return _data

In [ ]:
method3(california_housing).head()

In [ ]:
data = california_housing.copy()

def create_house_age_class(age):
    if age < LOWER_SPLIT:
        return AGE_LABEL_YOUNG
    elif(LOWER_SPLIT<= age) and (age<UPPER_SPLIT):
        return AGE_LABEL_MIDDLE
    else:
        return AGE_LABEL_OLD
data["HouseAgeClass"] = data["HouseAge"].map(create_house_age_class)

In [ ]:
data

In [5]:
################ Qiita pandasによる高速化　２####################

from itertools import product
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd

plt.rcParams['font.size'] = 12
plt.rcParams['figure.figsize'] = (10, 6)

In [6]:
item_data = pd.read_csv('data/game_user_item.csv')
item_data.head(5)

   user_id        date  item_id item_name  item_purchase_count  payment
0     2855  2018-04-14        5   item005                    4     6000
1     9634  2018-05-23        4   item004                    4     6000
2     5936  2018-05-28       10   item010                    4     6000
3     6635  2018-03-08        9   item009                    0        0
4     8864  2018-05-27        9   item009                    0        0

In [ ]:
def create_values(sample_size):
    user_id_list = sorted(item_data.user_id.unique().tolist())
    date_list = sorted(item_data.date.unique().tolist())
    item_id_list = sorted(item_data.item_id.unique().tolist())
    item_name_list = sorted(item_data.item_name.unique().tolist())
    return user_id_list[:sample_size], date_list, item_id_list, item_name_list

In [ ]:
def method1(sample_size):
    user_id_list, date_list, item_id_list, item_name_list = create_values(sample_size)
    master = pd.DataFrame()
    for user_id in user_id_list:
        for date in date_list:
            for item_id, item_name in zip(item_id_list, item_name_list):
                _master = pd.DataFrame(
                    data={
                        'user_id': [user_id],
                        'date': [date],
                        'item_id': [item_id],
                        'item_name': [item_name]
                    },
                    columns=['user_id', 'date', 'item_id', 'item_name']
                )
                master = master.append(_master)
    master.reset_index(drop=True, inplace=True)
    return master


method1(10).head(10)

In [ ]:
def method2(sample_size):
        user_id_list, date_list, item_id_list, item_name_list = create_values(sample_size)
        master_user = []
        master_date = []
        master_item_id = []
        master_item_name = []
        for user_id in user_id_list:
            for date in date_list:
                for item_id, item_name in zip(item_id_list, item_name_list):
                    master_user.append(user_id)
                    master_date.append(date)
                    master_item_id.append(item_id)
                    master_item_name.append(item_name)
        master = pd.DataFrame(
            data={
                'user_id': master_user,
                'date': master_date,
                'item_id': master_item_id,
                'item_name': master_item_name
            },
            columns=['user_id', 'date', 'item_id', 'item_name']
        )
        return master


method2(10000).head()

In [ ]:
item_data.head()

In [7]:
## applyを使った高速化

CORRECT_PRICE_MASTER = {
    4: 360,
    6: 1000,
    7: 680
}

def calc_correct_payment(item_id,item_purchase_count, payment):
    correct_price = CORRECT_PRICE_MASTER.get(item_id)
    if correct_price == None:
        return payment
    else:
        new_payment = correct_price * item_purchase_count
        return new_payment
    
    

item_data["new_payment"] = item_data.progress_apply(lambda x: calc_correct_payment(x["item_id"],x["item_purchase_count"],x["payment"]),axis=1)

my bar!: 100%|██████████| 10000000/10000000 [05:44<00:00, 29018.93it/s]

In [9]:
display(item_data.head())
display(item_data.tail())

,user_id,date,item_id,item_name,item_purchase_count,payment,new_payment
0,2855,2018-04-14,5,item005,4,6000,6000
1,9634,2018-05-23,4,item004,4,6000,1440
2,5936,2018-05-28,10,item010,4,6000,6000
3,6635,2018-03-08,9,item009,0,0,0
4,8864,2018-05-27,9,item009,0,0,0

,user_id,date,item_id,item_name,item_purchase_count,payment,new_payment
9999995,4899,2018-10-05,3,item003,3,4500,4500
9999996,3481,2018-04-14,8,item008,3,4500,4500
9999997,3328,2018-10-23,5,item005,3,4500,4500
9999998,7270,2018-10-05,4,item004,6,9000,2160
9999999,3639,2018-04-23,8,item008,3,4500,4500

,user_id,date,item_id,item_name,item_purchase_count,payment,new_payment
0,2855,2018-04-14,5,item005,4,6000,6000
1,9634,2018-05-23,4,item004,4,6000,1440
2,5936,2018-05-28,10,item010,4,6000,6000
3,6635,2018-03-08,9,item009,0,0,0
4,8864,2018-05-27,9,item009,0,0,0

,user_id,date,item_id,item_name,item_purchase_count,payment,new_payment
9999995,4899,2018-10-05,3,item003,3,4500,4500
9999996,3481,2018-04-14,8,item008,3,4500,4500
9999997,3328,2018-10-23,5,item005,3,4500,4500
9999998,7270,2018-10-05,4,item004,6,9000,2160
9999999,3639,2018-04-23,8,item008,3,4500,4500